
.pic:hover, 
.pic:focus {
  background-color:white;
    color:white;
}
.pic{
padding-left: 23px !important;
padding-top: 12px !important;
}


.sidebar
{  width: 14%;
    height: 100%;
    float:right;
 
}